/* 
rgba(66, 139, 202, 1.0)
rgba(91, 192, 222, 1.0)
rgba(92, 184, 92, 1.0)
rgba(240, 173, 78, 1.0)
rgba(217, 83, 79, 1.0)
 */

body {background:#fbfbfb; font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";}
body > .container:first-of-type, .container-fluid:first-of-type{margin-top:5em;}

footer {background:#343a40; margin-top:50px; padding:15px 0 0 0;}
footer [class*="col"] {border:none; background:none; min-height:0; color:#666;}
footer [class*="col"] a {color:#999;}
footer [class*="col"] a:hover {color:#fff;}
 
.fa-lg,.fa-1x,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{line-height:1.2em!important;} 
.fa-lg{font-size:1.33333333em!important;} .fa-1x{font-size:1.5em!important;} 
.fa-2x{font-size:2em!important;} .fa-3x{font-size:3em!important;} .fa-4x{font-size:4em!important;} 
.fa-5x{font-size:5em!important;} .fa-6x{font-size:6em!important;} .fa-7x{font-size:7em!important;} 
.fa-8x{font-size:8em!important;} .fa-9x{font-size:9em!important;} .fa-x {font-size:10em!important;}
@media(max-width:768px){.fa-lg,.fa-1x,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{font-size:1.2em!important;}}

.btn-primary{background:rgba(66, 139, 202, .8); border-color: rgba(0, 123, 255, .5)}
.btn-info   {background:rgba(91, 192, 222, .8); border-color: rgba(23, 162, 184, .5)}
.btn-success{background:rgba(92, 184, 92, .8); border-color: rgba(40, 167, 69, .5)}
.btn-warning{background:rgba(240, 173, 78, .8); border-color: rgba(255, 193, 7, .5)}
.btn-danger {background:rgba(217, 83, 79, .8); border-color: rgba(220, 53, 69, .5)}

/* Agenda CSS */
.card{border-radius:0!important; }

.card .collapse.show .card-body {border-bottom:1px rgba(0, 0, 0, 0.125) solid;}
.card .collapse.show .card-body .card {border:1px #ddd solid!important;  }
.card .collapse.show .card-body .card img {border-radius:0;}
.card .collapse.show .card-body .card .card-body {border:none!important;}

.card-title {cursor:pointer; font-size:1em; margin:.2em 0;}
.card-time {font-size: .8em; color:#5f5f5f; margin:.2em 0; }
.card-moderator, .card-speakers {font-size:.6em; margin:.2em 0;}
.card-body {font-size:.9em; background:#fff;}
 
.card.bg-primary {background:rgba(66, 139, 202, .2)!important;}
.card.bg-primary .collapse.show {border:2px rgba(66, 139, 202, .2) solid!important;}

.card.bg-info    {background:rgba(91, 192, 222, .2)!important;}
.card.bg-info .collapse.show .card-body    {border-bottom:1px rgba(91, 192, 222, .2) solid!important;}

.card.bg-success {background:rgba(92, 184, 92, .2) !important}
.card.bg-success .collapse.show .card-body {border-bottom:1px rgba(92, 184, 92, .2) solid!important;}

.card.bg-warning {background:rgba(240, 173, 78, .2)!important;}
.card.bg-warning .collapse.show .card-body {border-bottom:1px rgba(240, 173, 78, .2) solid!important;}

.card.bg-danger  {background:rgba(217, 83, 79, .2)!important;}
.card.bg-danger .collapse.show .card-body  {border-bottom:1px rgba(217, 83, 79, .2) solid!important;}

 